# This requirements file brings packages required for static code analysis.
# And these packages have not to be installed to a production environment.
black==20.8b1
pylint==2.6.0
flake8==3.8.4
pydocstyle==5.1.1

